<!doctype html>
<html lang="en">
<head>
    {%  include 'app/common-head-tags.html.twig' %}

    <title>Email confirmation, Free Online Scanner | AntiVirus API(JSON) for Developers | Run a free virus scan online</title>
    <meta name="description" content="Email confirmation, Free Online Scanner | AntiVirus API(JSON) for Developers | Run a free virus scan online | Free Online Security Scan · Detect and fix viruses, worms, spyware, and other malicious threats for free. · Start a free scan for your platform">
</head>
<body>

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div class="row align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        <h2 class="mb-5">Email confirmation</h2>
                    </div>
                    <div id="form-email-confirmed">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="avatar">Email address confirmed. You can start using our services!<br>
                                    <a href="/{{ lang }}/">Log in now with your credentials</a> <br></label><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-auto">
                        <p><a href="/{{ lang }}/create-account" id="link-test-free">Test this API for free</a></p>
                        <h3 class="mb-4">API for developers [JSON / REST API]</h3>
                        <p>Start scanning user uploaded content and files within minutes. Our JSON API is easy to integrate and quickly lets you scan without overloading your servers.</p>
                        <p><a href="/{{ lang }}/documentation">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%  include 'app/common-js-sources.html.twig' %}

<script src="/js/index.js"></script>
</body>
</html>