<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Signup, Free Online Scanner | AntiVirus API(JSON) for Developers | Run a free virus scan online</title>
    <meta name="description" content="Signup, Free Online Scanner | AntiVirus API(JSON) for Developers | Run a free virus scan online | Free Online Security Scan · Detect and fix viruses, worms, spyware, and other malicious threats for free. · Start a free scan for your platform">
</head>
<body>


<div class="content">

    <div class="container">


        <div class="row justify-content-center">
            <div class="col-md-10">

                <div class="row align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0">

                        <h2 class="mb-5">Signup, Quick registration!</h2>

                        <form class="border-right pr-5 mb-5" method="post" id="subscribeForm" name="subscribeForm">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="password1" class="form-control" name="password1" id="password1" placeholder="Password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="password2" class="form-control" name="password2" id="password2" placeholder="Repeat password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Subscribe" class="btn btn-primary rounded-0 py-2 px-4">
                                    <span class="submitting"></span>
                                </div>
                            </div>

                        </form>

                        <div id="form-message-warning"></div>
                        <div id="form-message-success">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="avatar">Choose the file to scan:</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 ml-auto">
                        <h3 class="mb-4">API for developers [JSON / REST API]</h3>
                        <p>Start scanning user uploaded content and files within minutes. Our JSON API is easy to integrate and quickly lets you scan without overloading your servers.</p>
                        <p><a href="#">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>

