###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/up/
/var/
/vendor/
###< symfony/framework-bundle ###

## PHPSTORM ###
/**/.idea/*
.idea/*
/.idea/*
.idea/my_project_directory.iml
.idea/php.xml
/.idea/php.xml

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache

###> php-cs-fixer ###
.php-cs-fixer.cache

###< VAULT secrets ###
/config/secrets/dev/
/config/secrets/prod/
