{% include 'app/mails/header.html.twig' %}

<p>Hello,<br>

    You have requested the regeneration of a new password. To confirm this request, please click on this link : <br><br>

    <a href="{{ link }}">LINK</a>

    {% include 'app/mails/footer.html.twig' %}

